.list-hours {
  font-size: 0.9rem;
  .list-hours-item {
    border-bottom: 1px solid fade-out($primary, 0.5);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic;
    &.saison {
      font-weight: bold;
      color: $primary;
    }

    .dates-saison {
      font-weight: normal;
      color: black;
      font-size: 0.9rem;
    }

    .description {
       width: 40% 
    }
    .sub-description { 
      font-size: 0.9rem;
      color: #807e7e;
    }

    .basse-saison, .moyenne-saison, .haute-saison {
      width: 20%;
      text-align: center; 
    }

    .sub-price {
      font-size: 0.8rem;
      color: #807e7e;    
    }
  }
  @media(min-width: 992px) {
    font-size: 1.1rem;
  }
}

.address {
  strong {
    font-size: 1.2rem;
  }
}
